.App{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family:"helvetica nue" sans-serif;
    color: white;
    /* background-color: gray; */
    padding-bottom: 3rem;
    padding-top: 2rem;
    /* background-image: url(https://wallpaperaccess.com/full/3957931.jpg);
    background-position: center;
    background-repeat: repeat-y; */
}
.notes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    flex-direction: column;
}
.note{
    width: 48rem;
    margin-bottom: 1rem;
}

Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonGroup{
    display: flex;
    align-items: center;
}
.notFound{
    margin-top: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
body {
	background: linear-gradient(315deg, rgba(236,4,233,1), rgb(236, 154, 1) , rgba(202,224,0,1) , rgb(255, 17, 0));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}