.App{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family:"helvetica nue" sans-serif;
    color: white;
    min-height:1000px;
    padding-top: 90px;
    padding-bottom: 60px;
    background: #778899;
    /* background-image: url(https://wallpaperaccess.com/full/3957931.jpg);
    background-position: center;
    background-repeat: repeat-y; */
}

.notes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    flex-direction: column;
}
.note{
    width: 85%;
    margin-bottom: 1rem;
}

Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonGroup{
    display: flex;
    align-items: center;
}
.notFound{
    margin-top: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
body{
    background: purple;
}
.Home{
margin:5rem;
padding-bottom: 3rem;

}
Footer{
    position: relative;
    bottom:0;
    color: white
}
